{%  extends "::base.html.twig" %}

{% block title 'Liste des taches' %}

{% block header %}
    <h1>Liste des taches</h1>
{% endblock %}

{% block content %}
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ category.name }}
                {% for task in category.tasks %}
                    {{ task.name }}
                {%  endfor %}
            </div>
        </div>
    {% else %}
        Aucune tache
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}